body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.upper-contain{
   height: 400px;
   width: 100%;
   background-color: #d5a7f5;
   align-items: center;
   display: flex;
   
}

.text-box{
  font-size: 50px;
 
  color:rgb(19, 19, 72);
}

.para{
   font-size: 22px;
   color: grey;

}

.inner-para{
   width: 1200px;
}

.boxes-div{
   background-color:rgb(19, 19, 72); ;
}

.line{
  color: white;
  font-size: 40px;
}

.slider-box{
  border: 1px solid white;
  border-radius: 10px;
}

.form-div{
  background-image: url("https://tse1.mm.bing.net/th?id=OIP.cgrP_DStbLIPWhsjZKju_AHaEo&pid=Api&P=0&h=180");
  height: 700px;
  width:100%;
  background-size: cover;
}

.startergy{
  font-size: 40px;
  line-height: 55px;
  color:rgb(19, 19, 72); ;
  
}

.strat-div{
  display:flex;
  flex-wrap: wrap;
  background-color: #f6f5f3;
}

.footer-div{
  background-color: rgb(19, 19, 72); 
}
